<% content_for :title do  %>
  Edit a Room
<% end %>

<p>Here you can edit a room</p>

<%= simple_form_for @room, :html => {:class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <% if false %>
  <%= f.association :name %>
  <% end %>

  <%= f.input :description %>
  <%= f.input :background_image %>
  <%= f.button :submit %>
<% end %>
