<% content_for :title do  %>
  Create an Item
<% end %>

<p>Here you can create an item</p>

<%= simple_form_for @item, :html => {:class => 'form-horizontal' } do |f| %>

  <% if false %>
  <%= f.input :starting_room_id, :as => :hidden, :input_html => { :value => @room.id } %>
  <% end %>



  <%= f.association :room %>
  <%= f.input :name %>
  <%= f.input :image_url %>
  <%= f.input :description %>
  <%= f.input :x_coord %>
  <%= f.input :y_coord %>
  <%= f.button :submit %>
<% end %>
