<!DOCTYPE html>
<html lang="en">
  <head>
    <title>StackWorld</title>
    <%= stylesheet_link_tag  "application", :media => "all" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div id="wrapper">

      <!-- Sidebar -->
      <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
          <li class="sidebar-brand"><a href="#">StackWorld</a></li>

          <li><a href="/rooms/new">Create a new room</a></li>

          <li><a href="/players/new">Create a new player</a></li>

          <li><a href="/connections/new">Create a new connection</a></li>

          <li><a href="/items/new">Create a new item</a></li>

          <% if @room %>
            <li><a href="/rooms/<%= @room.id %>/edit">Edit this room</a></li>
          <% end %>

          <% if false %>
            <li><a href="/rooms/edit">Edit a room</a></li>
          <% end %>

          <li><a href="/players/edit">Edit a player</a></li>

          <li><a href="/connections/edit">Edit a connection</a></li>

          <li><a href="/items/edit">Edit an item</a></li>

          <% if false %>
            <% if @room %>
              <li><a href="/room/<%= @room.id %>/connections/new">Add Connection (using /room/room.id)</a></li>
            <% end %>
          <% end %>


    <li>If @player code under this:</li>

    <% if @player %>
      <li>You are <%= @player.name %></li>
      <li><img src="<%= @player.avatar_image %>"></li>
    <% end %>






        </ul>
      </div>

      <!-- Page content -->
      <div id="page-content-wrapper">
        <div class="content-header">
          <h1>
            <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
            <%= content_for?(:title) ? yield(:title) : "Unnamed Room" %>
          </h1>
        </div>
        <!-- Keep all page content within the page-content inset div! -->
        <div class="page-content inset">
          <div class="row">
            <div class="col-md-12">
              <%= yield %>
            </div>
          </div>
        </div>
      </div>

    </div>

    <!-- Bootstrap core JavaScript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

    <!-- Put this into a custom JavaScript file to make things more organized -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("active");
    });
    </script>
  </body>
</html>
